<launch>
		
	
	<!-- == GENERAL ===== -->
	<!--include file="$(find robil2conf)/launch/parametersLoad.launch" /-->
	<include file="$(find robil2tf)/launch/robilTFpublisher.launch" />
	
	
	
	
	<!-- == SENSORS INTERFACEs == -->
        <node name="ipon2ros" type="shiffon2ros_node" pkg="shiffon2ros" args="132.4.6.60" output="screen" respawn="true"/>
        <node name="ibeo2ros" type="sickldmrs.py" pkg="sick_ldmrs" args="192.168.0.6" output="screen" respawn="true"/>
        
        
        
        
        <!-- == PLATFORM INTERFACE == -->  
        <!--node name="ros2qinetiq" type="lli_node" pkg="lli" args="192.168.101.3" output="screen" respawn="true"/-->   
        
	
	
	
	<!-- == MONITORING == -->
	<node name="ssm_fsm_states_tracker_node" type="ssm_fsm_states_tracker_node" pkg="ssm" output="screen"/>
	<node name="ssm_heartbeat_monitor_node" type="ssm_heartbeat_monitor_node" pkg="ssm" output="screen"/>
	<node name="ssm_node" type="ssm_node" pkg="ssm" output="screen"/>
	
	
	
	
	<!-- == OPERATOR CONTROL UNIT == -->
	<node name="ocu_node" type="ocu_node" pkg="ocu" output="screen"/>
	
	
	
	
	<!-- == SYSTEM MANAGEMENT AND MISSION EXECUTION == -->
	<node name="smme_node" type="smme_node" pkg="smme" output="screen" respawn="true"/>
	<node name="wsm_node" type="wsm_node" pkg="wsm" output="screen" respawn="true"/>
	
	
	
	
	<!-- == PATH PLANING  +   WAY POINT DRIVER == -->
	<include file="$(find pp)/launch/navigation.launch" />
		
	
	
	
	<!-- == PERCEPTION == -->
	<node name="per_node" type="per_node" pkg="per" output="screen" respawn="true"/>

	
	
	
	<!-- == LOCALIZATION == -->
	<node name="loc_node" type="loc_node" pkg="loc" output="screen" respawn="true"/>

	
	
	
	<!-- == LOW LEVEL CONTROL == -->
	<node name="llc_node" type="llc_node" pkg="llc" output="screen" respawn="true"/>



</launch>
