<!-- -*- mode: XML -*- -->

<launch>

      <arg name="name" default="robil_rec"/>
	
      <param name="/use_sim_time" value="true" />
      <node name="gazebo_node" pkg="gazebo_ros" type="gzserver" respawn="false" output="screen" args="worlds/empty.world" />
       
       
       <param name="/PER/DEBUG" value="true" />
       <node name="RobilRecordinNode" pkg="rosbag" type="record"  args="-O $(find robil2conf)/recording.bag 
									   -e 
       								   /clock |
       								   /SENSORS/CAM/L/compressed |     
									   /SENSORS/GPS(.*) |                                                    
									   /SENSORS/IBEO(.*) |                                              
									   /SENSORS/INS(.*) |                                            
									   
									   /LOC/Pose |
									   /LOC/Velocity |
									   
									   /PER/DEBUG/HEIGHTMAP |                    
									   /PER/DEBUG/TYPEMAP | 
									   /PER/Map |                    
									   /PER/MiniMap |                               
									   
									   /tf" /> 
									   
	<!--								   
	<node name="test" pkg="rostopic" type="rostopic" args="pub /SENSORS/CAM/L/compressed/parameter_updates dynamic_reconfigure/Conf {bools: { name: [''] , value: [false] }, ints: { name: ['jpeg_quality', 'png_level'] , value: [20, 9] }, strs: { name: ['format'], value: ['jpeg'] }, doubles: { name: [''], value: [0.0] }, groups: { name: ['Default'], state: [True], id: [0], parent: [0] } }" />
-->


</launch>
