<!-- -*- mode: XML -*- -->
<launch>

	<param name="robot_description" command="cat $(find srvss_bobcat)/urdf/BOBCAT.URDF" />
 
<!-- ros_control clam launch file -->
	<include file="$(find srvss_bobcat)/launch/srvss_bobcat_controllers.launch" />

<!-- convert joint states to TF transforms for rviz, etc -->
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
		<remap from="/joint_states" to="/srvss_bobcat/joint_states" />
	</node>

<!-- word to bobcat_body link tf publisher -->
	<node name="world_to_bobcat_tf_broadcaster_node" pkg="srvss_bobcat" type="world_to_bobcat_tf_broadcaster_node" respawn="false" output="screen" />
										  

<!-- tf for the front SICK sensor -->
	<node pkg="tf" type="static_transform_publisher" name="sick_link_broadcaster" args="1 0 0.2 0 0 0 body front_sick 100" />

<!--  -->
	<node name="srvss_bobcat_RateToEffort_node" pkg="srvss_bobcat" type="srvss_bobcat_rate2effort_node" cwd="node" output="screen" />


</launch>
