<!-- -*- mode: XML -*- -->
<launch>


        <arg name="pause" value="-u"/>
        <arg name="bobcat_sdf_models" value="$(find srvss_bobcat)/sdf_models"/>
	<arg name="world_name" value="$(find srvss_bobcat)/worlds/srvss_bobcat_empty.world"/>



<!-- setting gazebo path for scenario platform and sensors models -->
	<env name="GAZEBO_MODEL_PATH" value="$(arg bobcat_sdf_models)"/>

<!-- synchronizing ros to gazebo -->
	<param name="/use_sim_time" value="true" />

<!-- start gazebo server-->
	<node name="gazebo" pkg="gazebo_ros" type="gzserver" respawn="false" output="screen" args="$(arg pause) $(arg world_name)" />

	
<!-- start gazebo client -->
	<node name="gazebo_gui" pkg="gazebo_ros" type="gzclient" respawn="false" output="screen"/>


<!-- srvss_Dumy -->
	<include file="$(find srvss_bobcat)/launch/srvss_bobcat.launch"/>


</launch>
