<launch>

    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
        <!-- <param name="base_global_planner" value="SBPLLatticePlanner" /> -->
 		<!-- Amount of log files to store in /tmp -->
        <param name="gc_files" type="int" value="5"/>
        <rosparam file="$(find pp)/params/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find pp)/params/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find pp)/params/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find pp)/params/global_costmap_params.yaml" command="load" />
        <rosparam file="$(find pp)/params/base_local_planner_params.yaml" command="load" />

         <!--<remap from="/cmd_vel" to="/cmd_vel_orig" /> -->
    </node>

</launch>
