<launch>

    <!--  --><include file="$(find pp)/launch/navex.launch" />
	<!--<node name="pp_node" type="pp_node" pkg="pp" output="screen">
		<param name="gc_files" value="5"/>
	</node>-->
	<node name="wpd_node" type="wpd_node" pkg="wpd" output="screen"/>

	<!-- == MIDDLE LEVEL CONTROL === -->
	<node name="mlc_node" type="mlc_node" pkg="mlc" output="screen" respawn="true">
		<param name="mode" value="2"/>
		<param name="delay_time" value="0.0"/>
		<param name="platform_speed_smoothing" value="0.1"/>
		<param name="speed_source" value="2"/>
		<param name="pose_smoothing" value="1.0"/>
		<param name="tf_pose_update_time" value="1.0"/>
		<param name="tf_heading_source" value="2"/>
		<param name="cmd_vel_smoothing" value="0.1"/>
		
		<remap from="cmd_vel_input" to="/cmd_vel_navex" />
		<remap from="cmd_vel_output" to="/cmd_vel" />
	</node>
</launch>
