<launch>
 <node name="RQT_platform_velocity_monitor" type="velocityPublisher.py" pkg="robil2rqt" args="" output="screen" respawn="true"/>
 <node name="RQT_wpd_command_monitor" type="pubWPDCommand.py" pkg="robil2rqt" args="" output="screen" respawn="true"/>
 <node name="RQT" type="rqt_gui" pkg="rqt_gui" args="--perspective-file /home/robil/robil2/src/Framework/robil2rqt/config/default.perspective" output="screen" respawn="true"/>
</launch>
