<launch>
	<include file="$(find robil2conf)/parametersLoad.launch" />
	<node name="ssm_fsm_states_tracker_node" type="ssm_fsm_states_tracker_node" pkg="ssm" />
	<node name="ssm_heartbeat_monitor_node" type="ssm_heartbeat_monitor_node" pkg="ssm" />

	<node name="smme_node" type="smme_node" pkg="smme" />
	<node name="mission_tester" type="mission_tester" pkg="smme" output="screen"/>

</launch>