<!-- -*- mode: XML -*- -->
<launch>

  <!-- these are the arguments you can pass this launch file, for example paused:=true -->
  <arg name="paused" default="true"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>

  <!-- We resume the logic in empty_world.launch -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
  </include>

  <!-- Load the URDF into the ROS Parameter Server -->
  <!--<param name="robot_description"
	 command="$(find xacro)/xacro.py '$(find clam_description)/urdf/clam.xacro'" />-->
  <param name="robot_description" command="cat $(find bobcat_gazebo)/urdf/bobcat_with_boggies.URDF" />

  <!-- Run a python script to the send a service call to gazebo_ros to spawn a URDF robot -->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
	args="-urdf -model Sahar -param robot_description -z 0.8 -R 3.141592"/>

  <param name="tracks_description" command="cat $(find bobcat_gazebo)/urdf/trucks.sdf" />

  <!-- Run a python script to the send a service call to gazebo_ros to spawn a URDF robot -->
  <node name="left_tracks_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
	args="-sdf -model left_trucks -param tracks_description -x 0.17 -y 0.728 -z 0.745407 -P 3.9476"/>

  <!-- Run a python script to the send a service call to gazebo_ros to spawn a URDF robot -->
  <node name="right_tracks_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
	args="-sdf -model right_trucks -param tracks_description -x 0.17 -y -0.728 -z 0.745407 -P 3.9476"/>

  <!-- ros_control clam launch file -->
  include file="$(find bobcat_gazebo)/launch/bobcat_with_tracks_gazebo_control.launch" 
</launch>
