<!-- -*- mode: XML -*- -->
<launch>
  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find bobcat_gazebo)/config/bobcat_gazebo_control.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
	output="screen" ns="/Sahar" args="joint_state_controller
					  front_right_wheel_velocity_controller
					  front_left_wheel_velocity_controller
					  back_right_wheel_velocity_controller
					  back_left_wheel_velocity_controller
					  loader_position_controller
					  supporter_position_controller
                                          brackets_position_controller"/>

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
	respawn="false" output="screen">
    <remap from="/joint_states" to="/Sahar/joint_states" />
  </node>

</launch>
