<library path="lib/libscriptable_monitor_rqt">
  <class name="scriptable_monitor/ScriptableMonitorRqt" type="scriptable_monitor::ScriptableMonitorRqt" base_class_type="rqt_gui_cpp::Plugin">
    <description>
      An example Python GUI plugin to create a great user interface.
    </description>
    <qtgui>
      <!-- optional grouping...
      <group>
        <label>Group</label>
      </group>
      <group>
        <label>Subgroup</label>
      </group>
      -->
      <label>Scriptable monitor</label>
      <icon type="theme">image-x-generic</icon>
      <statustip>Great user interface to provide real value.</statustip>
    </qtgui>
  </class>
</library>