<launch>
	<!-- == GENERAL ===== -->
	<include file="$(find robil2conf)/parametersLoad.launch" />
	<!-- ================ -->

	<!-- == MONITORING == -->
<group>
	<node name="iedsim_test_node" type="iedsim_test" pkg="iedsim" output="screen"/>
	<node name="iedsim_node" type="iedsim_node" pkg="iedsim" output="screen"/>
</group>
</launch>
