<!-- -*- mode: XML -*- -->
<launch>    

     <arg name="n" default="2"/> 
    
     <arg name="SFDP_file_url" value="$(find smartest)/SFDP/robil2_tracked.SFDP"/> 
     <arg name="resource_file_url" value="$(find smartest)/resource/resource_robil2_tracked.xml"/> 
     <arg name="work_space_folder_url" value="$(find smartest)/work_space/"/>

     <!-- setting PYTHON PATH variable to load Python Interfaces scripts -->
     <env name="PYTHONPATH" value="$(env PYTHONPATH):$(find smartest)/scripts"/>

     <node pkg="smartest" type="mainGen" name="smartest_Multiple_Scenarios_GenRun" args="-MultipleScensGenRun $(arg SFDP_file_url) $(arg work_space_folder_url) $(arg resource_file_url) $(arg n)" output="screen"/>

     <node name="robil2rviz" type="robil2rviz" pkg="robil2rviz" output="screen"/>

</launch>
