<!-- -*- mode: XML -*- -->
<launch>

<!-- setting gazebo path for scenario platform and sensors models -->
        <env name="GAZEBO_MODEL_PATH" value="$(find ibeo)/models"/>

  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find ibeo)/worlds/IBEO.world"/>
    <!-- more default parameters can be changed here -->    
  </include>
</launch>
