<launch>
	
	<!-- == GENERAL ===== -->
	<include file="$(find robil2conf)/parametersLoad.launch" />
	<!-- ================ -->

	<!-- == MONITORING == -->
	<node name="ssm_fsm_states_tracker_node" type="ssm_fsm_states_tracker_node" pkg="ssm" />
	<node name="ssm_heartbeat_monitor_node" type="ssm_heartbeat_monitor_node" pkg="ssm" />
	<node name="ssm_node" type="ssm_node" pkg="ssm" />
	<!-- ================ -->

	<!-- == PERCEPTION == -->
	<node name="sensors_node" type="sensors_node" pkg="sensors" />
	<node name="iedsim_node" type="iedsim_node" pkg="iedsim" />
	<node name="per_node" type="per_node" pkg="per" />
	<node name="loc_node" type="loc_node" pkg="loc" />
	<!-- ================ -->
	
	<!-- MISSION CONTROL  -->
	<node name="smme_node" type="smme_node" pkg="smme" />
	<node name="wsm_node" type="wsm_node" pkg="wsm" />
	<node name="ocu_node" type="ocu_node" pkg="ocu" />
	<!-- ================ -->

	<!-- == NAVIGATION == -->
	<include file="$(find pp)/launch/navigation.launch" />
	<node name="llc_node" type="llc_node" pkg="llc" />
	<!-- ================ -->

</launch>
