<launch>
	
	<!-- == GENERAL ===== -->
	<include file="$(find robil2conf)/parametersLoad.launch" />
	<include file="$(find robil2tf)/launch/robilTFpublisher.launch" />
	<!-- ================ -->
        <!-- == MONITORING == -->
	<node name="ssm_fsm_states_tracker_node" type="ssm_fsm_states_tracker_node" pkg="ssm" output="screen"/>
	<node type="states_monitor_node" pkg="events_bus" name="StatesMonitor" required="true" />
	<node name="ssm_heartbeat_monitor_node" type="ssm_heartbeat_monitor_node" pkg="ssm" output="screen"/>
	<node name="ssm_node" type="ssm_node" pkg="ssm" output="screen"/>
	<!-- == PLATFORM and SENSORS INTERFACEs == -->
        <node name="ipon2ros" type="shiffon2ros_node" pkg="shiffon2ros" args="127.0.0.1" output="screen" respawn="true"/>

        <node name="ibeo2ros" type="sickldmrs.py" pkg="sick_ldmrs" args="127.0.0.1" output="screen" respawn="true"/>
        <!--node name="lli_node" type="lli_node" pkg="lli" output="screen" respawn="true" / -->
        
        <node pkg="robil2conf" type="timed_roslaunch.sh" args="30 robil2conf frameworkInitLegacy.launch" name="timed_roslaunch" output="screen">   </node>



</launch>
