<launch>
<include file="$(find robil2conf)/parametersLoad.launch" />
	<node name="ssm_fsm_states_tracker_node" type="ssm_fsm_states_tracker_node" pkg="ssm" output="screen"/>
	<node name="ssm_heartbeat_monitor_node" type="ssm_heartbeat_monitor_node" pkg="ssm" output="screen"/>


	<node name="iedsim_node" type="iedsim_node" pkg="iedsim" output="screen"/>
	<node name="llc_node" type="llc_node" pkg="llc" output="screen"/>
	<node name="loc_node" type="loc_node" pkg="loc" output="screen"/>
	<node name="ocu_node" type="ocu_node" pkg="ocu" output="screen"/>
	<node name="per_node" type="per_node" pkg="per" output="screen"/>
	<node name="pp_node" type="pp_node" pkg="pp" output="screen"/>
	<node name="sensors_node" type="sensors_node" pkg="sensors" output="screen"/>
	<node name="smme_node" type="smme_node" pkg="smme" output="screen"/>
	<node name="ssm_node" type="ssm_node" pkg="ssm" output="screen"/>
	<node name="wpd_node" type="wpd_node" pkg="wpd" output="screen"/>
	<node name="wsm_node" type="wsm_node" pkg="wsm" output="screen"/>


</launch>
