<?xml version="1.0"?>

<model>
  <name>sayeret_egoz_soldier</name>
  <version>1.0</version>
  <sdf version="1.4">model.sdf</sdf>

  <author>
    <name>Sagi Vald</name>
    <email>sagivald@gmail.com</email>
  </author>

  <description>
    A model of an IDF Sayeret Egoz soldier
  </description>

</model>
