<!-- -*- mode: XML -*- -->
<launch>

  <!-- these are the arguments you can pass this launch file, for example paused:=true -->
    
  <arg name="sw" default="1"/>  <!-- srvss world-->
  <arg name="sm" default="true"/>  <!-- tf for the front sick-->

  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>

  <!-- We resume the logic in empty_world.launch -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
    <arg name="world_name" value="$(find srvss_wp_driver)/worlds/srvss_world$(arg sw).world"/>
  </include>



  <include file="$(find srvss_bobcat)/launch/srvss_bobcat.launch"/>




  <group if="$(arg sm)">
     <node pkg="tf" type="static_transform_publisher" name="sick_link_broadcaster" args="1 0 0.2 0 0 0 body front_sick 100" />
  </group>


</launch>
